# Oscillator
set_io              clk             21

# LEDs
set_io              led[0]          99
set_io              led[1]          98
set_io              led[2]          97
set_io              led[3]          96
set_io              led[4]          95

# PMOD I/O
set_io  -pullup yes pmod[0]         78
set_io  -pullup yes pmod[1]         79
set_io  -pullup yes pmod[2]         80
set_io  -pullup yes pmod[3]         81

# LED MATRIX PINS
set_io              ledmtx_DIN      91
set_io              ledmtx_CS       90
set_io              ledmtx_CLK      88

# SPI FLASH PINS
set_io              spi_cs_n        71
set_io              spi_miso        68
set_io              spi_mosi        67
set_io              spi_clk         70